@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');



body, h1 ,h2, h3, ul, p {
  margin: 0;
  font-family: "Almarai", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
  position: fixed;
  width: 100%; height: 10%;
  background-color: rgba(221, 221, 221,0.0);
}
header .header-wrapper {
  /* height: 100%; */
  display: flex;
  position: relative;
}
header .header-wrapper .logo {
  width: 100%; height: 100%;
}
header .nav {
  display: flex;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 30px;
}
header .nav .img {
  width: 100%; height: 100%;
}
.header .header-wrapper .nav li {
  width: 50px; height: 100px;
}
header .nav a {
  display: block;
  width: 30px;
  padding: 20px 0 0 30px;
}
header .header-wrapper .nav li:last-child a {
  padding-top: 17px;
}
header h1 {
  width: 80%; height: 100%;
}
header h1 img {
  width: 200px; height: 100%;
}

.main-img {
  height: 100vh;
  background-image: url(./images/airport-1105980_1280.jpg);
  background-position: 60%;
  background-size: cover;
}
.main-img .main-img-text {
  position:absolute;
  top: 40%; left: 5%;
}
.main-img .main-img-text h2 {
  color: #fff;
  font-size: 5vh;
  text-shadow: #000 3px 1px 5px;
}
.main-img .main-img-text p {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.about {
  margin: 150px 0;
  padding: 0 50px;
}
.about .about-main-txt {
  margin-bottom: 80px;
}
.about .about-main-txt h2 {
  font-size: 2.8rem;
}
.about .about-sub-txt {
  font-size: 2rem;
  line-height: 1.8;
}
.about .about-sub-txt p:first-child {
 padding-bottom: 30px; 
}

.business {
  background-color: #ededed;
}
.business h2 {
  font-size: 2.8rem;
  padding: 40px 0 60px 50px;
}
.business ul {
  padding: 0 50px;
}
.business ul li {
  list-style: none;
}
.business ul li img {
  width: 100%;
}
.business ul li p {
  text-align: center;
  color: #336699;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0 50px 0;
}
.business ul li:last-child p {
  padding-bottom: 100px;
}
.contact {
  height: 48vh
}
.contact .contact-txt {
  margin: 50px 0 0 50px
}
.contact .contact-txt h2 {
  font-size: 2.8rem;
  padding: 35px 0 30px 0;
}
.contact .contact-txt p {
  font-size: 2rem;
  line-height: 1.8;
}
.contact .ghost-btn {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #336699;
  padding: 13px 27px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 33px;
}

footer {
  background-color: #336699;
}
footer .footer-txt {
  text-align: center;
  color: #A3C0DC;
  padding: 50px 0 60px;
  border-bottom: #A3C0DC 1px solid;
  position: relative;
}
footer .footer-txt h3 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  font-weight: 400;
}
footer .footer-txt p {
  font-size: 1.5rem;
}
footer .footer-box {
  background-color: #25496c;
  width: 78px; height: 38px;
  position: absolute;
  left: 160px; top: 125px;
  z-index: 9;
}
footer .footer-wrapper {
  color: #A3C0DC;
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}
footer .footer-wrapper ul {
  list-style: none;
  padding-left: 0;
}
footer .footer-wrapper ul p {
  margin-bottom: 30px;
}
footer .footer-wrapper ul a {
  text-decoration: none;
  color: #A3C0DC;
  display: inline-block;
  height: 30px;
}
footer .footer-wrapper ul:last-child li {
  padding-bottom: 20px;
}

footer address {
  margin: 50px 20px 0px;
  padding-bottom: 30px;
  text-align: center;
}

footer address p {
  font-style: normal;
  padding-bottom: 10px;
  color: #A3C0DC;
}
footer address .copyright {
  padding-top: 30px;
}